/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

body{
  background-color :#c62828;
}
.container{
      text-align: center;
}
.container h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-weight: 600;
}
div#logoperand {
    text-align:  center;
    padding-top: 3%
}

#logo{
    width: 3cm;
    height: 100%;
}

a#reg {
    width: 300px;
    background-color:  white;
    color:  red;
    box-shadow: 5px 10px;
}

a#log {
    width: 300px;
    background-color:  white;
    color: red;
}

div#regbtn {
    text-align:  center;
}

div#object {
    padding-top: 3cm;
}

label, input{
    color: #fff !important;
}
.input-field.label{
    color: #fff !important;
}
.social-f{
  margin: 0 5px 0 0;
  padding: 15px 18px 15px 18px;
  color: #b0ffd7;
  font-size: 20pt;
  background-color: #3B5998;
  border-radius: 5px;
  box-shadow: 3px 2px 5px #000;
}
.social-t{
  margin: 0 5px 0 0;
  padding: 15px 16px 15px 16px;
  color: #b0ffd7;
  font-size: 20pt;
  background-color: #1DA1F3;
  border-radius: 5px;
  box-shadow: 3px 2px 5px #000;
}
.margin_auto{
  margin-left: auto;
  margin-right: auto;
}
.icon{
  margin-top: 0px!important;
  padding: 10px;
  border-radius: 50%;
  font-size: 22pt!important;
}