/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

body {
  background-color :#C62828;
}
.container{
      text-align: center;
      margin-top: 70px;
}
.questions{
    margin-top: 0; 
}
.container h1, h2, h3, h4, h5, h6{
    color: #fff;
    font-weight: 600;
}
div#logoperand {
    text-align:  center;
    padding-top: 3%
}

#logo{
    width: 3cm;
    height: 100%;
}

a#reg {
    width: 300px;
    background-color:  white;
    color:  red;
    box-shadow: 5px 10px;
}

a#log {
    width: 300px;
    background-color:  white;
    color: red;
}

div#regbtn {
    text-align:  center;
}

label, input{
    color: #fff !important;
}
.input-field.label{
    color: #fff !important;
}
.social-f{
  margin: 0 5px 0 0;
  padding: 15px 18px 15px 18px;
  color: #b0ffd7;
  font-size: 20pt;
  background-color: #3B5998;
  border-radius: 5px;
  box-shadow: 3px 2px 5px #000;
}
.social-t{
  margin: 0 5px 0 0;
  padding: 15px 16px 15px 16px;
  color: #b0ffd7;
  font-size: 20pt;
  background-color: #1DA1F3;
  border-radius: 5px;
  box-shadow: 3px 2px 5px #000;
}
.margin_auto{
  margin-left: auto;
  margin-right: auto;
}
.icon{
  margin-top: 0px!important;
  padding: 10px;
  border-radius: 50%;
  font-size: 20pt!important;
}
.mtop{
  margin-top: 40px!important;
}
.white-text {
    color: #fff !important;
    background-color: #820b0b;
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 10px;
}
.btnNo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #ff4040;
  border:3px solid #cfdcec;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0;
  font-weight: 900;
}
.btnYes {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #5aed47;
  border:3px solid #cfdcec;
  color: #0f6f03;
  text-align: center;
  font-size: 13px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 0;
  font-weight: 900;
}
.btnYes:not(.nohover):hover, .btnNo:not(.nohover):hover{
    animation-name: pulse_animation;
    animation-duration: 1000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: infinite;
}
@keyframes pulse_animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.08); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.05); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
h5 a, .white-text a{
  color: inherit;
}