/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 
.blink-image {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

body{
  background-color:red;
}

div#logoperand {
    text-align:  center;
    padding-top: 3%
}

#logo{
    width: 3cm;
    height: 100%;
}

a#reg {
    width: 300px;
    background-color:  white;
    color:  red;
    box-shadow: 5px 10px;
}

a#log {
    width: 300px;
    background-color:  white;
    color: red;
}

div#regbtn {
    text-align:  center;
}

div#object {
    padding-top: 3cm;
}

.label{
    color: rgb(rgb(135, 8, 198), rgb(140, 194, 140), rgb(255, 183, 0)) !important;
}
.input-field.label{
    color: seashell;
}